.mainSiteWrapper{
    max-width: 1144px;
    background-color: #fff;
    margin: 25px auto;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light;
    text-align: center;
    font-family: $font-header;
    height: $single-wrap-height;
    border-radius: $radius;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.siteWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .wrapOrder{
        background-image: url("/images/assets/pizza-1.jpg");
        flex: 0 0 45%;
        margin: 50px 10px 10px 0;
    }
      
    .wrapBook{
        background-image: url("/images/assets/pizza-2.jpg");
        flex: 0 0 45%;
        margin-top: 50px;
    }

    .openingHours {
        background-color: #F76669;
        flex: 0 0 91%;
        margin-bottom: 100px;
        flex-direction: column;

        h2, p {
            margin: 0;
        }

        h2{
            font-size: $main-site-header-font-size;
        }
    }

    a {
        text-decoration: none;
        font-size: $main-site-header-font-size;
        color: $color-light;
    }
}
  
// carousell styles
.carousel {
    margin-bottom: 55px;
    .carousel-cell {
        display: flex;
        justify-content: space-around;
     
        .img-container {
            flex-basis: 40%
     
            img {
                width: 100%;
            }
        }
        .text-container {
            flex-basis: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
    
//Gallery
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 100px;
      
    .gallery-img-container{
        position: relative;
        flex: 0 0 30%;
        width: 30%;
        height: 200px;
        margin-top: 10px;
        cursor: pointer;
        
        .gallery-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }   
      
        .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0;
            transition: all .2s linear;
        }
      
        .icons{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        
            i{
                font-size: 25px;
                color: #fff;
                margin-left: 10px;
                opacity: 0;
                transition: all .2s linear;
        
                &:hover {
                    color: red;
                    z-index: 5;
                }
            }
        }
      
        &:hover i{
            opacity: 1;
        }
      
        &:hover .cover{
            opacity: .3;
        }
    }
}
  
.moreOnInstagram{
    margin: 40px 20px;
    height: 100px;
  
    a {
      color: red;
    }
}
